<!--header.html-->

<!doctype html>
<html lang="cn">

<head>
    <!--Use the `title` variable to set the title of the page-->
    <title>{{ .title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">

    <!--Use bootstrap to make the application look decent-->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script async src="/static/js/upload/bootstrap.min.js"></script>
</head>

<body class="container">
    <!--Embed the menu.html template at this location-->
    {{ template "menu.html" . }}