{{ template "header.html" .}}

<body class="gray-bg">

    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name">烽</h1>

            </div>
            <h3>欢迎使用 烽视威Agent</h3>
            <p>使命在肩 无畏向前</p>
            <p>请输入下面的信息登陆.</p>
            <form method="POST" action="/u/login" class="m-t" role="form">
                <div class="form-group">
                    <input id="name" name="name" type="text" class="form-control" placeholder="用户名" required="">
                </div>
                <div class="form-group">
                    <input id="password" name="password" type="password" class="form-control" placeholder="密码" required="">
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">登录</button>
            </form>
            <p class="m-t"> <small>烽火 Agent &copy; 2017</small> </p>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="/static/admin/js/jquery-3.1.1.min.js"></script>
    <script src="/static/admin/js/bootstrap.min.js"></script>

</body>

</html>